.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  padding: 1em 0.2em;
  border-radius: 50px 50px 0 0;
}
/* =============================== FILTER CONTAINER STYLE================================================== */
.filter-btn-container {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid gray;
  width: 90%;
}

.filter-btn-container .applied-filter-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0 16px;
  border-radius: 50px;
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;

  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  padding: 0 10px;

  color: #0077a7;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: transparent;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border-color: #2ee59d;
  text-align: center;
  border: none;
}

.filter-btn-container label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn-container .sorted-criteria-select {
  border-color: #2ee59d;
  color: #ffffff;
  background: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  padding: 2px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}

.filter-btn-container label span {
  color: #00abee;
}

/* ============================ SEARCH CONTAINER STYLE======================= */
.search-bar {
  display: flex;
  background-color: #ffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #2ee59d;
}
input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  color: #6200ee;
  width: 100%;
}
.search-btn {
  background: transparent;
  border: none;
}
/* Active state */

/* ==============================TASK CONTAINER STYLE============================================= */
.task-container {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin-top: 1rem;
  padding: 1rem;
  align-self: center;
  transition: ease-in-out 0.2s;
}

.task-container:hover {
  box-shadow: 0 3px 6px rgba(0, 101, 20, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.task-container p {
  font-size: 1rem;
  margin: 5px;
}

.task-container .task-index {
  width: 1rem;
  color: dodgerblue;
}

.task-container .task-name {
  width: 20rem;

  height: fit-content;
  word-wrap: break-word;
  color: #5d5d5d;
}

.task-container .due-date {
  width: 8rem;
  color: #006f27;
}

.task-container .due-time {
  width: 5rem;
  color: #0c5c6e;
}

.task-container .is-done-icon-para {
  width: 2rem;
}

.task-container .pending-icon {
  color: rgb(84, 84, 84);
}

.task-container .completed-icon {
  color: #0c8e0c;
}

.task-container .mark-complete-btn {
  width: 8rem;
  cursor: pointer;
  background: gray;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.mark-complete-btn:disabled {
  color: #2ee59d;
  background: #ffffff;
}

.task-container .delete-btn {
  font-size: 1.5rem;
  color: rgb(180, 3, 3);
  cursor: pointer;
}

.task-container .time-over-cut {
  position: absolute;
  top: 43%;
  width: 100%;
  height: 2px;
  background-color: red;
}

/* ============================ Empty Task style ==================================== */
.empty-heading {
  font-size: 3rem;
  letter-spacing: 3px;
  color: #2ee59d;
}
