* {
  margin: 0;
  padding: 0;
}
body {
  background: #f1f2f6;
  overflow-x: hidden;
}
h2 {
  text-align: center;
  margin-top: 2rem;
  color: #255240;
  font-family: "Courier New", Courier, monospace;
}
